body {
	background-color: lightblue;
	display: inline-block;
	align-items: center;
}
#game_arena {
	height:560px;
	width:560px;
	background-color: pink;
	display: flex;
	flex-flow:row wrap;
	border-style: solid;
  	border-width: 5px;
  	margin:0px auto;
	left:0;
	right:0;
}

.black_pawn{
	height: 30px;
	width: 30px;
	background-color: red;
}
.white_pawn {
	height: 30px;
	width: 30px;
	background-color: green;
}

.white_pawn.selected_piece {
	background-color: black;
}

.space{
	height:70px;
	width:70px;
	background-color:orange;
}

.space.white{
	background-color: white;
}

.space.black{
	background-color:darkgrey;
}
.space.available_space {
	opacity: 60%;

}